.background-card{
    background-image : url("https://miro.medium.com/max/1680/1*pPSIXfi71r6lgvHsjs1ngw.jpeg");
    height: 30vh;
}

.footer-card{
    background-color: white;
    opacity: 0.7;
    color: black;
}

.txt-footer{
    padding: 1vh 2vh;
    margin: 1vh 2vh;
}