.theme-hd{
    background-color: #101820;
    height: 115px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 22px;
}

.option-hd{
    width: max-content;
    color: #FFFFFF !important;
    opacity: 100%;
    font-size: 1.2vw;
}

.tab-menu{
    margin-left: 1.5vw;
}


.opt-img-menu{
    width: 2vw;
}

.img-menu{
    padding: 0vw 0vw 0vw 1vw;
    margin: 0;   
    width: auto;
}